.logoContainer {
    border: var(--secondary-colour) double 0.4rem;

    position: absolute;
    top: 10%;
    left: 0;
    height: 25%;
    width: 50%;
}

.logoContainer > a > img {
    background-color: black;
}

@media (prefers-color-scheme: light) {
    .logoContainer > a > img {
        background-color: black;
    }
}