.taskContainer {
    border: var(--primary-color) solid 0.25rem;
    border-radius: 0.5rem;
    outline: var(--secondary-color) solid 0.25rem;
    font-size: 0.75rem;

    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    overflow-y: scroll;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}