.addButton {
    grid-area: add;
    background-color: hsla(100, 50%, 50%, 0.9);
    border: var(--secondary-color) double 0.2rem;
    border-radius: 0.5rem;
    outline: var(--primary-color) double 0.2rem;
    font-size: 1rem;
    text-shadow: 1px 1px 1px black;
}

.addButton:hover {
    cursor: pointer;
}