.appContainer {
    display: grid;
    grid-template-areas:
    "animLeft logo animRight"
    "header header header"
    "add delete update"
    "container container container";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);

    background-color: var(--primary-colour);
    border: var(--primary-colour) groove 1em;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    outline: var(--secondary-color) ridge 0.2em;
    height: auto;
    width: 100%;
}

.flexContainer {
    background: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    transform: scale(0.66);
};