.todoHeader {
    background-color: var(--primary-color);
    grid-area: header;
    text-align: center;
    font-size: 4em;

    animation: headerScroll 6s infinite forwards;
}

@keyframes headerScroll {
    0% {transform: translateX(0%) skewX(0);}
    25% {transform: translateX(100%) skewX(-25deg); visibility: hidden;}
    50% {transform: translateX(-100%) skewX(-50deg); visibility: hidden;}
    100% {transform: translateX(0%) skewX(0); visibility: visible;}
}