@import "../styles/animations.module.css";

.buttonEdit, .buttonSave {
    border: var(--secondary-colour) double 0.2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-shadow: 1px 1px 1px var(--primary-colour);

    position: relative;
    height: auto;
    width: 25%;
    z-index: 2;
}

.buttonEdit:hover, .buttonSave:hover {
    cursor: pointer;
    animation: shrink-pulse 750ms infinite forwards;
}

.buttonEdit {
    background-color: hsl(200, 50%, 50%);
}

.buttonSave {
    background-color: hsl(100, 50%, 50%);
}
