.buttonUpdate {
    background-color: hsla(200, 50%, 50%, 0.9);
    border: var(--secondary-color) solid 0.2rem;
    border-radius: 0.5rem;
    outline: var(--primary-color) solid 0.2rem;
    font-size: 1rem;
    text-shadow: 1px 1px 1px black;

    position: relative;
    height: auto;
    width: 25%;
    z-index: 2;
}

.buttonUpdate:hover {
    cursor: pointer;
}