@import "../styles/animations.module.css";

.taskItem {
    display: flex;
    border: var(--secondary-colour) double 0.2rem;
    border-radius: 0.2rem;

    font-size: 1rem;
    flex-grow: 1;
    height: auto;
    min-height: 20%;
    max-height: 20%;
    width: 100%;
    min-width: 0;
    z-index: 2;
}

.taskItemInput {
    border: var(--secondary-colour) double 0.2rem;
    border-radius: 0.2rem;

    font-size: 1rem;
    flex-grow: 1;
    padding: 1rem 0.5rem;

    height: auto;
    width: 100%;
    min-width: 0;
    overflow-y: scroll;
    resize: none;
    scrollbar-width: auto;
    scrollbar-color: var(--secondary-colour) var(--primary-color);
}

.taskItemInput::placeholder {
    color: var(--secondary-colour);
}