@media (prefers-color-scheme: dark) {
    :root {
    --primary-colour: hsl(0, 50%, 0%);
    --secondary-colour: hsl(0, 0%, 90%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
    --primary-colour: hsl(0, 0%, 90%);
    --secondary-colour: hsl(0, 50%, 0%);
    }
}

* {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    height: 100%;
    width: 100%;
    object-fit: scale-down;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-colour);
    overflow-y: hidden;
    overflow-x: hidden;
}

.appContainer {
    border: var(--secondary-colour) double 0.2rem;
}



