.taskContainer {
    border: var(--secondary-colour) double 0.4rem;
    border-radius: 0.5rem;

    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    overflow-y: scroll;
    z-index: 2;

    display: flex;
    flex-flow: column nowrap;
}

h2 {
    padding-top: 50%;
    text-align: center;
    font-size: 2rem;
}