* {
    --primary-colour: hsla(0, 50%, 0%, 0.5);
    --secondary-color: hsla(0, 0%, 75%, 0.8);
    --tertiary-color: hsla(0, 0%, 100%, 0.9);
    
    background-color: var(--primary-colour);
    color: var(--tertiary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    width: 100%;
    object-fit: scale-down;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-colour);
    overflow-y: none;
    overflow-x: none;
}