@import "../styles/animations.module.css";

.buttonLocalSave {
    background-color: hsl(170, 50%, 50%);
    border: var(--secondary-colour) double 0.4rem;
    border-radius: 0.5em;
    font-size: 3em;
    text-shadow: 1px 1px 1px var(--primary-colour);
    position: absolute;
    bottom: 25%;
    left: 0.5%;
    height: 15%;
    width: 50%;
}

.buttonLocalSave:hover {
    cursor: pointer;
    animation: shrink-pulse 750ms infinite forwards;
}